.page-main {
  box-sizing: border-box;
  position: relative;
  margin-top: -66px;
  z-index: -1;
}


@media (min-width: $size-tablet) {
  .page-main {
    margin-top: -110px;
  }
}

@media (min-width: $size-desktop) {
  .page-main {
  }
}
