$size-mobile: 320px;
$size-tablet: 660px;
$size-desktop: 960px;
$mobile-tablet: 959px;

$basic-color: #ffffff;
$menu-color: rgb(40, 54, 69);
$menu-color-opasity: rgba(40, 54, 69, 0.3);
$white-text: #ffffff;
